@font-face {
    font-family: ARCADECLASSIC;
    src: url("ARCADECLASSIC.ttf");
}


@font-face {
    font-family: GameFont;
    src: url("ARCADECLASSIC.ttf");
}

@font-face {
    font-family: MessageFont;
    src: url("ARCADECLASSIC.ttf");
}

@font-face {
    font-family: NameFont;
    src: url("ARCADECLASSIC.ttf");
}

.IIV::-webkit-media-controls-play-button,
video::-webkit-media-controls-start-playback-button {
    opacity: 0;
    pointer-events: none;
    width: 5px;
}